<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.UserMapper">
    <select id="selectAll" resultType="com.example.User">
        SELECT id, name, content, num, create_time, update_time FROM test
    </select>

      <insert id="insert" parameterType="com.example.User">
        INSERT INTO test (name, content, num)
        VALUES (#{name}, #{content}, #{num})
      </insert>

      <update id="update" parameterType="com.example.User">
        UPDATE test
        SET name=#{name}, content=#{content}, num=#{num}
        WHERE id=#{id}
      </update>

      <delete id="delete" parameterType="int">
        DELETE FROM test WHERE id=#{id}
      </delete>
</mapper>
